@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Jost', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
    font-size: 18px;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity:   0.8;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 70px;
    padding: 0 30px;

}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;

}

.navbar ul {
    display: flex;
}

/* Header */
.hero {
    background: url('/skihero2.jpg') no-repeat center center/cover;
    height: 75vh;
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 18px;
}

.hero .content .h1  {
    font-size: 55px;;
}

.hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.hero * {
    z-index: 10;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding:  2rem;
    overflow: hidden;
}

.card {
    background: white;
    padding: 10px;
    border: #ccc 1px solid;
}

#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
    margin-bottom: .55rem;
    line-height: 1.3;

}

.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }
.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }

/* text colors */
.text-primary {
    color: 28a745;
}

.text-secondary {
    color: #0284d0
}

.flex-columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.flex-rows {
    display: flex;
    height: 100%;
}

.flex-items > div {
    padding: 20px;  
}